.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
#container-submission{
    margin: 2px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    
}
#container-submission *{
    font-family: 'Open Sans', sans-serif;
}


#form-submission{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email-inputt{
    width:30vw;
    padding: 5px;
    border-radius: 10px;
    border: 1px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.362);
    margin: 20px;
    height:5vh;
    font-size: 1.5rem;
}

#submission{
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 1px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.362);
}
#submission:hover{
    color: white;
    background-color: black;
}

#error-msg{
    color: rgb(221, 54, 54);
}

@media screen and (max-width: 550px) {
    #container-submission{
        width: 300px;
    }
    #form-submission{
        margin-top:10vh;
    }

    #email-inputt{
        width:90vw;
    }
}

@media screen and (max-width: 1200px) {

    #email-inputt{
        width:60vw;
    }
}