.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container-create-password{
    margin: 2px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

#container-create-password *{
    font-family: 'Open Sans', sans-serif;
}

#form-create-password{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

#create-password-heading{
    font-family: 'Open Sans', sans-serif;
    /* color: red; */
}

.password-box{
    width: 75%;
    margin: 20px;
}
.password-box h3{
    margin: 0;
}
.password-box input{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 1px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.362);
}

#submitt{
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 1px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.362);
}
#submitt:hover{
    color: white;
    background-color: black;
}

@media screen and (max-width: 550px) {
    #container-create-password{
        width: 300px;
    }
    #create-password-heading{
        font-size:35px;
    }
}