body{
    background-color: rebeccapurple;
}

.responsibilities-title{
    padding: 30px;
  }

.cards-container-r {
  margin: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-r {
  position: relative;
  width: 250px;
  height: 320px;
  border: 8px solid #adacac;
  margin: 30px 70px;
  border-radius: 18px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.card-r:hover {
  transform: rotateY(180deg);
}

.card-front-r {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffc728;
  border-radius: 5px;
  color: #333;
  /* padding: 30px;
  padding-left: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image-r {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
}

.card-back-r {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fafafa;
  color:#4758b7;
  border-radius: 5px;
  padding: 8.5%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.card-back-r img{
    position: absolute;
    opacity: 20%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.responsibilities-div{
  overflow-x: hidden;
}
